@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.txt-blue {
  color: #4775ea;
}
.txt-black {
  color: #1e1e1e;
}
.bg-sky {
  background: rgba(238, 243, 255, 1);
}

.bg-blue {
  background: #dce6ff;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* NavBar */
.navMind-top {
  background: #4775ea;
  height: 38px;
}
.nav-link:hover {
  color: #4775ea;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #4775ea;
}

.nav-item_mind {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  background: transparent;
  min-width: 250px;
  height: 150px;
  left: -10px;
  position: absolute;
  top: 42px;
  z-index: 1;
  border-radius: 20px;
  border: 1px solid #666666;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  display: block;
  color: #4775ea;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #999898;
  font-size: 18px;
}
.dropdown-content a:hover {
  background: #ddd;
}

.nav-item_mind:hover .dropdown-content {
  display: block;
}

.navMind-top p {
  margin-right: 50px;
}
.navbar {
  padding-left: 130px;
  height: 52px;
  box-shadow: 0px 3px 6px 0px #00000026;
}
.mind-nav{
  margin-left: 550px;
}
.cont_mind{
  background: white;
  border: 1px solid #4775ea;
  color: #4775ea;
  border-radius: 20px;
  height: 40px;
  font-size: 18px;
  width: 100px;
  margin-left: 150px;
   transition-duration: all 0.4s ease-in-out;
  cursor: pointer;
}
.cont_mind:hover {
  background: #4775ea;
}
.cont_mind a:hover {
  color: white;
}

.right-arrow{
  display: flex;
  float: right;
}

/* Contact Page*/
.contactMind {
  background-color: #eef3ff;
}
.contactMind h5 {
  font-family: "Abel";
  font-size: 52px;
  font-weight: 400;
  line-height: 69px;
  text-align: center;
}
.contact_map iframe {
  margin-left: 50px;
  width: 580px;
  height: 490px;
  border: 2px solid transparent;
  border-radius: 20px;
}
.contact-detail {
  margin-top: 95px;
  background-color: white;
  width: 516px;
  height: 432px;
  margin-left: 290px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 1px #00000026;
}
.contact-detail h6 {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  color: #444343;
}
.contact-detail p {
  color: #686868;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.contact-detail img {
  width: 24px;
  height: 24px;
}
.contact-page-mind {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.86) 86%,
      rgba(255, 255, 255, 0.86) 0%
    ),
    url("../Images/contact-bg-mind.jpeg");
  background-size: 1280px 750px;
  background-position: center;
  box-shadow: 0px -3px 6px 0px #0000000d;
  height: 370px;
  margin: 0 0px 0 0px;
  color: #666666;
  position: relative;
}
.contact-page-mind h5 {
  color: #1e1e1e;
}
.contact-page-mind h6 {
  color: #1e1e1e;
}
.contact-page-mind li {
  list-style: none;
  padding-top: 10px;
}
.service_list {
  margin-left: 80px;
}
.contact_Mind img {
  width: 24px;
  height: 24px;
}
.facebook {
  width: 20px;
  height: 20px;
  padding: 0.31px 0.31px 0.43px 0.31px;
}
.icons i {
  width: 32px;
  height: 32px;
  background: rgba(220, 230, 255, 1);
  border: 1px solid #dce6ff;
  border-radius: 50%;
}
.circle1 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  border: 40px solid #c9d8ff;
  background: #c9d8ff;
}
/* Service Page*/
.Psychiatric {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(246, 248, 253, 0) 58.39%,
      rgba(234, 239, 251, 0.5) 71.47%,
      rgba(234, 239, 250, 0.9) 85.96%,
      #eaeffa 98.8%
    ),
    url(../Images/img-1.jpeg);
  background-size: cover;
  height: 755px;
}
.Psychiatric h1 {
  font-family: "Abel";
  font-size: 52px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  color: #4775ea;
  height: 56px;
  padding-top: 617px;
  padding-left: 70px;
}
.Psychiatric p {
  color: #777777;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  height: 24px;
  padding-top: 60px;
  padding-left: 70px;
}
.medical-cross i {
  border: 4px solid #e2eaff;
  background: #e2eaff;
  font-size: 28px;
  text-align: center;
  margin-left: 90px;
  margin-top: 50px;
}
.medical-cross {
  margin-top: 50px;
}
.what-text {
  margin-left: -80px;
}
.what-text h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  width: 433px;
  height: 24px;
  margin-top: 60px;
  left: 126px;
}
.what-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  width: 1080px;
  height: 54px;
  margin-top: 20px;
  color: #686868;
}
.what-text li {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  width: 1084px;

  font-family: "Open Sans", sans-serif;
  color: rgba(83, 82, 82, 1);
}
.Management-of {
  margin-top: 35px;
  width: 830px;
  height: 426px;
}
.Assesment {
  width: 830px;
  height: 80px;
}

.Therapies {
  width: 830px;
  height: 215px;
}
.common-issue span {
  color: #686868;
}
/*About Page*/
.About-mind-page {
  background-image: linear-gradient(
      90deg,
      rgba(235, 241, 255, 0.9) 0%,
      rgba(235, 241, 255, 0) 100%
    ),
    url(../Images/img-3.jpeg);
  background-size: cover;
  height: 750px;
}
.para{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #535252;
    padding-top: 280px;
}
.About-mind-page p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #535252;
  position: relative;
  top: -180px;
  padding-left: 80px;
}
.Homeabout-first{
    width: 625px;
    height: 264px;
    padding-top: 100px;
    padding-left: 70px;
    font-family: "Abel";
    font-size: 52px;
    font-weight: 400;
    line-height: 66.27px;  
}
.about-first{
  width: 515px;
  height: 364px;
  padding-top: 100px;
  padding-left: 70px;
  font-family: "Abel";
  font-size: 52px;
  font-weight: 400;
  line-height: 66.27px;
}
.about-second{
 position: relative;
 top: -200px;
    width: 550px;
height: 132px;
padding-left: 70px;
font-family: 'Abel';
font-size: 52px;
font-weight: 400;
line-height: 66.27px;



}
.About-mind-page span {
  color: #4775ea;
}
.know-btn {
  background: #4775ea;
  box-shadow: 0px 6px 3px 0px #4775ea;
  width: 300px;
  height: 56px;
  color: white;
  border: 1px solid transparent;
position: relative;
top: -170px;
   margin-left: 120px;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}
.Appointment-btn{
    background: #4775ea;
    box-shadow: 0px 6px 3px 0px #4775ea;
    width: 300px;
    height: 56px;
    color: white;
    border: 1px solid transparent;
   position: relative;
   top: -150px;
    margin-left: 120px;
    border-radius: 10px;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
}
/*About page Dr faye column second */
.Expert-BDS h6 {
  margin-left: 100px;
  font-family: "Abel";
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  color: rgba(30, 30, 30, 1);
}
.Expert-BDS span {
  margin-left: 100px;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(107, 107, 107, 1);
}
.Expert-BDS p {
  margin-left: 100px;
  font-family: "Open Sans" sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: rgba(83, 82, 82, 1);
}
.yr10 {
  display: flex;
  justify-content: space-between;
}
.yr10-first {
  background: rgba(235, 241, 255, 1);
  width: 200px;
  height: 120px;
  border-radius: 20px 0px 20px 0px;
}

.yr10-second {
  width: 200px;
  height: 120px;
  background: rgba(235, 241, 255, 1);
  border-radius: 20px 0px 20px 0px;
}
.yr10 h6 {
  padding: 20px 10px 10px 10px;
  margin: 0 10px 0 20px;
  color: rgba(71, 117, 234, 1);
  font-family: "Open Sans" sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 27px;
}
.yr10 span {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(90, 90, 90, 1);
  padding: 10px;
  margin: 0;
}
.patient-image {
  margin-left: 100px;
  width: 417px;
  height: 529px;
  border-radius: 20px 0px 0px 0px;
  background-size: cover;
  background-image: url("../Images/Mask\ group.png");
}

.Patient-Satisfaction-second {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-left: -45px;
  padding-left: 20px;
  color: #1e1e1e;
  width: 340px;
  height: 438px;
  border-radius: 10px 0px 0px 0px;
  background: rgba(235, 241, 255, 1);
  box-shadow: 0px 3px 16px 0px #00000026;
}
.Patient-Satisfaction-third {
  font-family: "Open Sans" sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #1e1e1e;
  width: 340px;
  height: 438px;
  position: relative;
  top: -525px;
  left: 869px;
  padding-left: 20px;
  border-radius: 10px 0px 0px 0px;
  background: #ffffff;
  box-shadow: 0px 3px 6px 0px #00000026;
}
.Patient-Satisfaction {
height: 750px;
background: rgba(245, 248, 253, 1);

}
.Patient-Satisfaction h1{
    font-family: 'Abel',sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 56px;    
}
.Patient-Satisfaction i {
  color: #bcceff;
}
.patient-second-photo {
  background-image: url("../Images/pat-1.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 60px;
  height: 60px;
  margin-left: -40px;
}
.patient-second-name {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
position: relative;
}

.patient-third-photo{
  background-image: url("../Images/pat-2.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 60px;
  height: 60px;
  margin-left: -40px;
}
.address {
    color: #797979;
}
.address-third {
  position: absolute;
  width: 75px;
  height: 24px;
  top: 2172px;
  left: 1027px;
  color: #797979;
}
.patient-third-name {
  position: absolute;
  width: 133px;
  height: 27px;
  top: 2169px;
  left: 1012px;
  gap: 0px;
  opacity: 0px;
  color: #434343;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
   margin-bottom: -150px;
    margin-left: 100px;
}
.page-one {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background: rgba(71, 117, 234, 1);
  cursor: pointer;
}
.page-two {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 1px;
  left: 15px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 1);
  cursor: pointer;
}
.page-three {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 1px;
  left: 30px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 1);
  cursor: pointer;
}
.awerness-gallary {
  background-color: white;
  row-gap: 150px;
}
.awerness-gallary h1 {
  padding-top: 60px;
  height: 55px;
  font-family: "Abel", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
}
.awerness-gallary-video-one {
  width: 559px;
  height: 363px;
  margin-left: 90px;
  background-color: white;
  background-image: url("../Images/aws.jpeg");
  border-radius: 24px;
}
.awerness-gallary-video-two {
  width: 559px;
  height: 363px;
 
 margin-left: -65px;
  background-color: white;
  background-image: url("../Images/aws.jpeg");
  border-radius: 24px;
}
.play-circle {
  font-size: 116px;
position: relative;
top: 20px;
left: 290px;
  color: rgba(217, 217, 217, 1);
}
.awerness-gallary-text-one {
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.awerness-gallary-text-two {
  margin-left: 90px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.play-button {
  width: 57px;
  height: 54px;
  margin-bottom: 200px;
  margin-left: 220px;
  color: rgba(217, 217, 217, 1);
}
.contact-about-mind {
  position: absolute;
  width: 99%;
  height: 250px;
  top: 3383px;
}
.logo {
  position: absolute;
  left: -10px;
}
.follow-us {
  margin-top: 150px;
}
.contact-services {
  margin-left: 20px;
}
.contact-services li {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
}

/* Home Page*/
.Home-page-first .About-mind-page {
  background-image: linear-gradient(
      90deg,
      rgba(235, 241, 255, 0.9) 90%,
      rgba(235, 241, 255, 0) 100%
    ),
    url(../Images/img-3.jpeg);
  
  background-size: 1280px 750px;
  
}
.heart img {
  position: absolute;
  width: 679px;
  height: 618px;
  top: 175px;
  left: 640px;

  /* mask:
     radial-gradient(at 70% 31%,#000 29%,#0000 30%),
     radial-gradient(at 30% 29%,#000 29%,#0000 30%),
     linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
     
    clip-path: polygon(-41% 0,50% 91%, 145% 0);*/
}
.Mental-health-img img {
  width: 870px;
  height: 676.92px;
  margin-left: -100px;
  border-radius: 50px 0px 0px 0px;
}

.Home-page-second .Wel-mental-health {
  background-color: white;
}

.Mental-health-text h1 {
  margin-left: 190px;
  width: 457px;
  height: 111px;
  font-family: "Abel", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
}
.Mental-health-text p {
  width: 410px;
  height: 432px;
  margin-left: 190px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #535252;
}
.Mental-health-text button {
  width: 182px;
  height: 46px;
  margin-top: 22px;
  margin-right: 220px;
   font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #4775ea;
}
.Home-page-third {
  background-size: 1280px 750px;
  background-image: linear-gradient(
      90deg,
      rgba(235, 241, 255, 0.9) 100%,
      rgba(235, 241, 255, 0) 100%
    ),
    url("../Images/why-bg.png");
}
.why-us-feature {
  content: " ";
  position: absolute;
  width: 833px;
  height: 612px;
  background-color: rgb(245, 248, 253, 0.1);
}
.Home-page-third .why-us h1 {
  font-family: "Abel";
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
}
.feature-img1 {
  position: absolute;
  background-color: white;
  width: 64px;
  height: 64px;
  top: 10px;
  left: 50px;
  border-radius: 50%;
}
.feature-img1 img {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 10px;
  left: 10px;
}
.feature-text1 {
  position: absolute;
  width: 207px;
  height: 33px;
  top: 26px;
  left: 120px;
}
.feature-img2 {
  position: absolute;
  background: #d4e0ff;
  width: 64px;
  height: 64px;
  top: 10px;
  left: 50px;
  border-radius: 50%;
}
.feature-img2 img {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 10px;
  left: 10px;
}
.feature-text2 {
  position: absolute;
  width: 207px;
  height: 33px;
  top: 26px;
  left: 120px;
}
.why-us-img img {
  width: 378px;
  height: 521px;
  margin-top: 30px;
  margin-left: 800px;
  border: 1px;
  background-color: #f5f8fd;
}

.why-us-feature img {
  width: 42px;
  height: 42px;
}
.feature-one {
  position: absolute;
  width: 400px;
  height: 80px;
  top: 17px;
  left: 144px;
  border-radius: 20px;
  background: #d4e0ff;
  box-shadow: 0px 0px 16px 0px #00000026;
}
.feature-two {
  position: absolute;
  width: 400px;
  height: 80px;
  top: 150px;
  left: 287px;
  border-radius: 20px;
  border: 0.5px;
  background: #ffffff;
  border: 0.5px solid #e2e2e2;
  box-shadow: 0px 0px 16px 0px #00000026;
}
.feature-three {
  position: absolute;
  width: 400px;
  height: 80px;
  top: 300px;
  left: 144px;
  border-radius: 20px;
  border: 0.5px;
  background: #ffffff;
  border: 0.5px solid #e2e2e2;
  box-shadow: 0px 0px 16px 0px #00000026;
}
.feature-four {
  position: absolute;
  width: 400px;
  height: 80px;
  top: 450px;
  left: 287px;
  border-radius: 20px;
  border: 0.5px;
  background: #ffffff;
  border: 0.5px solid #e2e2e2;
  box-shadow: 0px 0px 16px 0px #00000026;
}
.home-page-fourth {

  font-family: "Abel";
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
}

.Services-column-row-two img {
  width: 486.48px;
  height: 324.32px;
  border-radius: 20px;
  opacity: 0px;
  rotate: 5deg;
  transform: translateX(-50px);
}
.Services-column-row-two img:hover {
  opacity: 1px;
  rotate: 0deg;
  border: 10px solid #a4bdff;
  animation-name: smart animate;
  box-shadow: 0px 0px 16px 0px #00000059;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  transform: translateX(0);
}
.Services-column-row-two p {

  width: 487px;
  height: 216px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #525252;
}
.Services-column-row-two h6 {

  width: 341px;
  height: 44px;
  font-size: 28px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  color: #1e1e1e;
}
.home-page-five {
  background-size: 1280px 700px;
  position: relative;
  top: 1280px;
}
.home-page-six {
  background-size: 1280px 700px;
  padding-top: 2798px;
}
.home-address {
  position: relative;
  width: 75px;
  height: 24px;
  top: 10px;
  left: -120px;
  color: #797979;
}
.home-patient-second-photo {
  position: relative;
  top: 10px;
  background-image: url("../Images/pat-1.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 60px;
  height: 60px;
  margin-left: 90px;
}
.home-patient-third-photo {
  background-image: url("../Images/pat-2.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  width: 60px;
  height: 60px;
  top: -520px;
  left: 949px;
}
.home-patient-third-name {
  position: relative;
  width: 133px;
  height: 27px;
  top: -520px;
  left: 950px;
  gap: 0px;
  opacity: 0px;
  color: #434343;
  font-family: "Open Sans" sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.home-address-third {
  position: relative;
  width: 75px;
  height: 24px;
  top: -510px;
  left: 820px;
  color: #797979;
}

/*Appointment page*/
.Make-an-appointment h1 {
  padding-top: 20px;
  font-family: "Abel";
  font-size: 52px;
  font-weight: 400;
  line-height: 66.27px;
  text-align: center;
}
.Appointment-box {
  position: relative;
  width: 894px;
  height: 391px;
  top: 25px;
  left: 250px;
  border-radius: 30px;
  background-color: #ffffff;
}
.pt-name {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  position: absolute;
  width: 115px;
  height: 27px;
  top: 58px;
  left: 77px;
  opacity: 0.3px;
  color: #000000;
}
.pt-age {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #000000;
  position: absolute;
  width: 99px;
  height: 27px;
  top: 170px;
  left: 77px;
  opacity: 0.3px;
}
.pt-number {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #000000;
  position: absolute;
  width: 131px;
  height: 27px;
  top: 58px;
  left: 491px;
  opacity: 0.3px;
}
.pt-time {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #000000;
  position: absolute;
  width: 139px;
  height: 27px;
  top: 170px;
  left: 491px;
  opacity: 0.3px;
}
.pt-text {
  position: absolute;
  width: 289px;
  height: 51px;
  top: 94px;
  left: 77px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}
.pt-text-age {
  position: absolute;
  width: 289px;
  height: 51px;
  top: 210px;
  left: 77px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}
.pt-text-number {
  position: absolute;
  width: 289px;
  height: 51px;
  top: 94px;
  left: 491px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}
.pt-text-time {
  position: absolute;
  width: 289px;
  height: 51px;
  top: 210px;
  left: 491px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}
.Book {
  position: absolute;
  width: 162px;
  height: 51px;
  top: 320px;
  left: 359px;
  gap: 0px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #4775ea;
}
.appoint-contact-detail {
  display: flex;
  flex-direction: row;
  row-gap: 5;
}
.appoint-contact-detail img {
  width: 24px;
  height: 24px;
}
.swiper-wrapper {
  display: flex;
  width: 1280px;
}
.swiper-slide {
  width: 417px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: gray;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: blue;
}
/*Information Components*/
.Information h1{
  font-family: 'Abel',sans-serif;
font-size: 42px;
font-weight: 400;
line-height: 56px;
}
.Information{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  background-color: white;
  }


button{
  position: absolute;
  right: 3rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
}
.ans{
 width:450px;
  border: none;
  list-style-position: inside;
 font-family: 'Montserrat';
 font-size: 20px;
 font-weight: 400;
 line-height: 10px;
 height: min-content;
}
  .main-heading{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid rgba(71, 117, 234, 1);
    margin: 1rem;
    width: 95%;
    height: 3rem;
    cursor: pointer;
  } 
/*FAQ.css */

.faq-container {
  display: flex;
}
 .answers {
  flex: 1;
  padding: 10px;
}
.questions{
  flex: 1;
   width: 550px;
   position: relative;
   left:50px;
  margin-top: 20px;
  height: 408px;
  background: rgba(255, 255, 255, 1);

}
.questions li{
line-height: 20px;
font-weight: 500;
list-style-image: url('../Images/circle20.png');
}
li::after{
  font-size: 20px;
}

.questions i{
display: flex;
font-size: 20px;
justify-content: flex-end;
padding-bottom: 10px;
}
 .answer{
  opacity: 0;
  transition: opacity 1s ease-in-out;
  height: 0;
  overflow: hidden;
  font-family: 'Inter';
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-top: 20px;
padding-left: 80px;
gap:40px;

}
.question{
  background: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.answer.active{
  opacity: 1;
  height: auto;
  list-style: none;
  background: rgba(250, 251, 255, 1);
}
.answers{
  background: rgba(250, 251, 255, 1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
width: 350px;
height: 422px;
margin-right: 20px;
border-radius: 16px;
}
.question.active{
font-weight: 500;
list-style-image: url('../Images/circle21.png');
  background: rgba(250, 251, 255, 1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

}
.faq-heading{
font-family: 'Abel';
font-size: 35.8px;
font-weight: 800;
line-height: 64px;
text-align: center;
}
/*Information.css*/
/* src/components/Dropdown.css */
.dropdown-list {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: left;
}

.dropdown-item {
  margin-bottom: 10px;
}

.dropdown-header {
  margin-bottom: 1rem;
  font-family: 'Montserrat';
font-size: 24px;
font-weight: 500;
color: #4775ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;

}

.dropdown-arrow {
  font-size: 18px;
}

.details {
  padding: 10px 20px;
  border-top: none;
  font-size: 16px;
  line-height: 1.6;
}

.details p {
  margin: 10px 0;
  width: 450px;
}

